<%= render 'shared/errors', obj: @article %>

<%= form_for @article do |f| %>
  <div class='article-title center'><strong>Title</strong><br/>
    <%= f.text_field :title %>
    <div class='well col-xs-8 col-xs-offset-2'>
      <h4 class= 'center description'><strong>Description:</strong></h4>
      <hr>
      <%= f.text_area :description %>
      <div class='article-actions'>
        <%= f.submit class:'btn btn-xs btn-primary' %>
        <%= link_to 'Create new article', articles_path(f), method: :post, class:'btn btn-xs btn-success'%>
      </div>
    </div>
  </div>
<% end %>

<p>
  <%= link_to "Back to index", articles_path, class:'btn btn-xs btn-primary' %>
</p>